[2020-09-21 05:18] akshitagupta15june opened #1 "RAISE ANY ISSUE OF YOUR CHOICE RELATED TO PYTHON."
RAISE ANY ISSUE OF YOUR CHOICE.
Members who will be willing to contribute can raise Pull Requests and they will be merged.
Happy Coding!

[2020-09-21 05:23] akshitagupta15june opened #2 "Bubble Sort"
Beginner Friendly issues.

[2020-09-23 05:22] akshitagupta15june opened #3 "CHOOSE NUMBERS!"
You are given an array of integers A.
You need to tell whether you can choose three numbers such that a+b>=c.

Input Format
First line consists of number of integers N. next line consists of N space separated integers.

Constraints
1 <= N <= 10^5

Output Format
YES or NO

Sample Input
5
1 2 3 4 9
Sample Output
YES
Explanation
you can choose 1+3 >= 4

Solve the question and raise the Pull Requests.

[2020-09-25 03:05] akshitagupta15june opened #4 "Sum without '+'"
Calculate the sum of two integers a and b, but you are not allowed to use the operator + and -
Input Format

Input two integers a and b
Constraints

Use of "+" and "-" operators are not allowed
Output Format

Print the sum of a and b
Sample Input

2
-1

Sample Output

1

Explanation

Sum of 2 and -1 is 1

[2020-09-25 03:06] akshitagupta15june commented on #4
Add in daily code repository of python.

[2020-09-25 03:40] akshitagupta15june opened #5 "Implement Sieve of Eratosthenes algorithm to find primes up to n"
Add in DataStructures repo of Python

[2020-09-25 03:54] akshitagupta15june opened #6 "Check whether a number is prime or not?"
Add code in DailyCode repo of Python.

[2020-09-25 03:57] ion05 commented on #6
Can i work on this ?

[2020-09-25 03:59] HarshKhilawala commented on #6
I would like to take this in Java if possible @akshitagupta15june

[2020-09-25 04:00] Gauravsaha-97 commented on #6
I would like on work on this issue.

[2020-09-25 04:09] akshitagupta15june opened #7 "Hour glass pattern"
Take N as input. For a value of N=5, we wish to draw the following pattern :

                      5 4 3 2 1 0 1 2 3 4 5
                        4 3 2 1 0 1 2 3 4
                          3 2 1 0 1 2 3
                            2 1 0 1 2
                              1 0 1
                                0
                              1 0 1
                            2 1 0 1 2

[2020-09-25 04:09] akshitagupta15june commented on #7
Add in patterns repo of python

[2020-09-25 04:15] parthsrivastava100 commented on #6
I would also like to work on this issue. Can i please work on it ?

[2020-09-25 04:18] #6 closed

[2020-09-25 04:18] akshitagupta15june commented on #6
issue closed.

[2020-09-25 04:23] Gauravsaha-97 commented on #2
I would like to work on this issue.

[2020-09-25 04:26] akshitagupta15june commented on #2
Fork the repo and add the code , then raise a pull request. I will merge it.

[2020-09-25 04:31] akshitagupta15june opened #11 "Create Bucket Sort"
Add in sorting_searching folder of pytrhon.

[2020-09-25 04:41] akshitagupta15june opened #13 "Create Insertion Sort"
Add in sorting folder of python

[2020-09-25 04:43] akshitagupta15june opened #14 "Create Selection sort"
Add in sorting folder of python repo.

[2020-09-25 04:44] RadientBrain commented on #14
Ok I will do it

[2020-09-25 04:52] BALaka-18 commented on #13
Hi @akshitagupta15june, can I work on this issue ?

[2020-09-25 04:53] parthsrivastava100 commented on #5
I would like to work on it

[2020-09-25 04:55] akshitagupta15june commented on #13
ofcourse! open for all

[2020-09-25 04:55] akshitagupta15june commented on #5
yeah fork repo add your code and create a pull request.

[2020-09-25 04:56] akshitagupta15june opened #15 "Create Pascal Triangle"
Given an integer N, print Pascal Triangle upto N rows.
Input Format

Single integer N.
Constraints

N <= 10
Output Format

Print pascal triangle.
Sample Input

4

Sample Output

       1
     1   1
   1   2   1
 1   3   3   1

[2020-09-25 04:57] akshitagupta15june commented on #15
Add in patterns folder of python

[2020-09-25 05:02] parthsrivastava100 commented on #5
pr created

[2020-09-25 05:03] #5 closed

[2020-09-25 05:06] parthsrivastava100 commented on #11
I'll  do it

[2020-09-25 05:10] akshitagupta15june opened #19 "Add the Algorithms!"
Add the algorithms if you find they are not already added in the repositories and create a pull request.

Example :
In sorting/searching repo many algos are not added so add them and raise the pull request.

+ you can create issue on codes if you find any mistakes in them.

Happy Coding!!!

[2020-09-25 05:23] RadientBrain commented on #14
Hello @akshitagupta15june , I have made the pull request and want to ask that how much time will it take by you guys to review and merge into the main(master) branch

[2020-09-25 05:35] jayadevvasudevan commented on #13
i have added insertion sort

[2020-09-25 05:42] #14 closed

[2020-09-25 05:42] #13 closed

[2020-09-25 05:42] #4 closed

[2020-09-25 05:58] #2 closed

[2020-09-25 06:00] Sameera1994 commented on #15
Done

[2020-09-25 06:12] GSNCodes opened #25 "Adding Binary Search"
I would like to take and work on this issue. Please assign it to me. I'll raise a pull request for it after that.

[2020-09-25 06:23] anubhav823 commented on #19
I would like to add MergeSort and Quicksort to the repo.

[2020-09-25 06:39] SubhradeepSS commented on #7
Would like to work on this issue for **Hacktoberfest 2020**

[2020-09-25 07:05] akshitagupta15june opened #32 "Create Quick Sort"
add in repo sorting_searching of python

[2020-09-25 07:22] kratikaatgithub commented on #32
Hi, I would like to work on this issue. Could you please assign it to me.
Thanks.

[2020-09-25 07:24] akshitagupta15june opened #33 "Sort in linear time"
Create a code for sorting in linear time.

[2020-09-25 07:25] akshitagupta15june commented on #32
fork it, add your code and raise a pull request

[2020-09-25 07:30] shivamsouravjha commented on #33
For sorting in linear time, why not use heapsort?

[2020-09-25 07:33] akshitagupta15june opened #35 "Create a basic calculator"
add the code in daily code with all operations.

[2020-09-25 08:00] Malvika18 commented on #35
Hi @akshitagupta15june i would like to contribute to this issue can you please guide me.

[2020-09-25 08:02] akshitagupta15june commented on #35
fork this repo, add your code in daily code repo and create a pull request

[2020-09-25 08:20] sejalshri commented on #3
hey. i would like to work on this issue as a part of Hacktoberfest .please assign it to me.

[2020-09-25 08:22] akshitagupta15june commented on #3
fork this repo , add your code and then raise a pull request

[2020-09-25 08:35] sejalshri commented on #3
sure, i will make the PR on 1st oct.

[2020-09-25 08:44] kratikaatgithub commented on #11
Hi I would like to work on this issue as part of Hacktoberfest. Plz assign it to me.
Thanks

[2020-09-25 08:47] akshitagupta15june commented on #11
code is already added for bucket sort.

[2020-09-25 08:47] akshitagupta15june commented on #11
but you can work on other issues

[2020-09-25 09:04] hritik5102 commented on #25
Hello @GSNCodes , I would like to work on this issue ...

should I make a Pull request ?

Thank you

[2020-09-25 09:07] GSNCodes commented on #25
Hi @hritik5102
I was working on this issue and the PR was merged. Do look for other open issues.  👍
This will be closed.

[2020-09-25 09:07] #25 closed

[2020-09-25 09:09] jwalaprasad commented on #35
Hi @akshitagupta15june i would like to contribute to this issue.

[2020-09-25 09:12] Vibhugupta10616 commented on #15
Hey @akshitagupta15june I would like to work on this as a part of Hacktoberfest. Pls assign me this.

[2020-09-25 09:16] hritik5102 commented on #32
Hello, @akshitagupta15june I would like to work on this issue :)
please assign it to me

**I had one query**
- [] can I also add other sorting algorithms which is not there in the sorting algorithm folder?

Please let me know
Thank you

[2020-09-25 10:00] krupalhp2907 commented on #33
Hi @akshitagupta15june i would like to contribute to this issue can you please guide me.

[2020-09-25 10:02] akshitagupta15june opened #40 "Strings-Remove Duplicate"
Take as input S, a string. Write a function that removes all consecutive duplicates. Print the value returned.
Input Format

String
Constraints

A string of length between 1 to 1000
Output Format

String
Sample Input

aabccba

Sample Output

abcba

Explanation

For the given example, "aabccba", Consecutive Occurrence of a is 2, b is 1, and c is 2.

After removing all of the consecutive occurences,

[2020-09-25 10:03] akshitagupta15june commented on #33
You can fork this repo, add your code in sorting repo then create a pull request.

[2020-09-25 10:03] amoghatsunil commented on #19
@akshitagupta15june I would like to add A* Algorithm to the repo.

[2020-09-25 10:05] akshitagupta15june commented on #19
FORK THE REPO
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 10:07] akshitagupta15june opened #42 "PROCESS OF CONTRIBUTION IN THIS REPOSITORY"
PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 10:13] priyanka19-98 commented on #40
I would like to work on this in java!

[2020-09-25 10:16] akshitagupta15june commented on #40
JAVA ALSO HAVE SAME ISSUE

PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 10:17] Devansu-Yadav commented on #40
Can I work on this using python?

[2020-09-25 10:20] akshitagupta15june commented on #40
Python also have same issue

PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 10:20] abhishek-pes commented on #42
hey , i will doing this

[2020-09-25 10:22] abhishek-pes commented on #42
@akshitagupta15june  so what kind of code should i add in this repository?

[2020-09-25 10:22] akshitagupta15june commented on #42
@abhishek-pes please look at the issues

[2020-09-25 10:25] ion05 commented on #35
Hi @akshitagupta15june i would also like to contribute to this issue.

[2020-09-25 10:26] abhishek-pes commented on #42
@akshitagupta15june  iam planning to add finding "anagrams problem using python" for the strings folder , is it fine?

[2020-09-25 10:26] akshitagupta15june commented on #35
PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 10:28] akshitagupta15june commented on #42
ofcourse! but let me create issue first then add.

[2020-09-25 10:31] akshitagupta15june opened #43 "Check whether two strings are anagram of each other"
Check whether two strings are anagram of each other
Add in strings folder

[2020-09-25 10:38] amoghatsunil commented on #19
Yess...I would like to do it as a part of Hacktoberfest.

[2020-09-25 10:45] abhishek-pes commented on #43
@akshitagupta15june  I have created a pull request #46
please check it out.

[2020-09-25 10:53] akshitagupta15june opened #47 "Strings Compression"
Take as input S, a string. Write a function that does basic string compression. Print the value returned. E.g. for input “aaabbccds” print out a3b2c2d1s1.
Input Format

A single String S
Constraints

1 < = length of String < = 1000
Output Format

The compressed String.
Sample Input

aaabbccds

Sample Output

a3b2c2d1s1

Explanation

In the given sample test case 'a' is repeated 3 times consecutive

[2020-09-25 10:55] ion05 commented on #35
A calculator with basic 4 operations would be valid right ?

[2020-09-25 10:56] akshitagupta15june commented on #35
yes ofcourse , its a beginner issue

PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 12:39] adityagupta26 opened #53 "code to commit"
i will leave a code

[2020-09-25 12:40] akshitagupta15june commented on #53
please specify

[2020-09-25 12:42] adityagupta26 commented on #53
// CPP program to implement run length encoding
#include <bits/stdc++.h>
using namespace std;

void printRLE(string str)
{
	int n = str.length();
	for (int i = 0; i < n; i++) {

		// Count occurrences of current character
		int count = 1;
		while (i < n - 1 && str[i] == str[i + 1]) {
			count++;
			i++;
		}

		// Print character and its count
		cout << str[i] << count;
	}
}

int main()
{
	string s

[2020-09-25 12:48] adityagupta26 commented on #53
i am not able to commit request/pull request

[2020-09-25 12:50] akshitagupta15june opened #54 "Create Prime Triplets"
Given an array A of n integers , find number of triplets (i,j,k) where i<j<k such that there is atleast one prime digit which is common to each number.
Input Format

The first line contains N integers followed by the number of elements
Constraints

N<=10^5
Ai<=10^18.
Output Format

Output the number of triplets
Sample Input

5
21
22
23
24
25

Sample Output

10

[2020-09-25 12:51] akshitagupta15june commented on #53
ok i will add it.
no worries

[2020-09-25 12:51] #53 closed

[2020-09-25 13:00] akshitagupta15june opened #55 "Create Binary Search"

[2020-09-25 13:00] akshitagupta15june opened #56 "Create Linear Search"

[2020-09-25 13:06] Pulkitmahajan01 commented on #55
hi @akshitagupta15june ,could you please assign me this issue.

[2020-09-25 13:17] rasacharjee commented on #56
Hi @akshitagupta15june , can you please assign this issue to me

[2020-09-25 13:24] GSNCodes commented on #55
@akshitagupta15june  PR #27 covers this right?

[2020-09-25 13:34] akshitagupta15june commented on #55
Asssigned

PROCESS OF CONTRIBUTION IN THIS REPOSITORY

FORK THIS REPOSITORY
ADD YOUR CODE IN RESPECTIVE FOLDER
CREATE A PULL REQUEST
AFTER A SIMPLE CHECK I WILL MERGE THE PR

HAPPY CODING AND CONTRIBUTING!!!!

[2020-09-25 13:51] GSNCodes commented on #55
This issue should be closed right?
Refer PR #27

[2020-09-25 13:54] #55 closed

[2020-09-25 13:54] akshitagupta15june commented on #55
Closed

[2020-09-25 13:57] shaonakundu commented on #55
Hi @akshitagupta15june can you assign me this issue?

[2020-09-25 13:59] pranav6670 commented on #54
Can you assign me this one?

[2020-09-25 14:04] akshitagupta15june commented on #54
Done

[2020-09-25 14:44] #56 closed

[2020-09-25 14:46] #40 closed

[2020-09-25 14:54] akshitagupta15june opened #60 "Find HCF"
Given N positive numbers, your task is to calculate their HCF.
Input Format

First line of input contains a single integer N, second line contains N space separated positive integers whose HCF is to be computed.
Constraints

N <= 10 and all the numbers lie between 1 and 100.
Output Format

Print HCF of N numbers.
Sample Input

3
2 4 6

Sample Output

2

[2020-09-25 14:56] akshitagupta15june commented on #60
ADD IN MATHS FOLDER

[2020-09-25 15:05] CodesOfAnurag commented on #60
hi @akshitagupta15june , can you assign me this issue?

[2020-09-25 16:54] kchatr commented on #60
I literally created this function and the maths folder, so you should have the decency to let me fix the issue @akshitagupta15june

[2020-09-25 18:14] akshitagupta15june opened #62 "DECIMAL TO OCTAL"
Take N (number in decimal format). Write a function that converts it to octal format. Print the value returned.
Input Format

Constraints

0 < N <= 1000000000
Output Format

Sample Input

63

Sample Output

77

[2020-09-25 18:15] akshitagupta15june commented on #62
ADD IN MATHS FOLDER

[2020-09-25 18:25] akshitagupta15june opened #63 "IS PARENTHESIS BALANCED?"
You are given a string of brackets i.e. '{', '}' , '(' , ')', '[' , ']' . You have to check whether the sequence of parenthesis is balanced or not.
For example, "(())", "(())()" are balanced and "())(", "(()))" are not.
Input Format

A string of '(' , ')' , '{' , '}' and '[' , ']' .
Constraints

1<=|S|<=10^5
Output Format

Print "Yes" if the brackets are balanced and "No" if not balanced.
Sample I

[2020-09-25 18:25] akshitagupta15june commented on #63
ADD IN SUITABLE CODE REPO

[2020-09-25 18:34] akshitagupta15june opened #65 "RAIN WATER SAVING-INTERVIEW QUESTION(FAANG)"
AKSHITA has created an elevated roof. She wants to know how much water can she save during rain.

Given n non negative integers representing the elevation map where width of every bar is 1, Find the maximum water that she can save.

Explanation for the Sample input Testcase:
![image](https://user-images.githubusercontent.com/57909583/94303605-b88ce580-ff8b-11ea-99b7-f05fef83dcd6.png)

Elevation Ma

[2020-09-25 18:34] CodesOfAnurag commented on #7
hey @akshitagupta15june , check out **pr #64**  for this issue

[2020-09-25 18:34] akshitagupta15june commented on #65
ADD IN INTERVIEW QUESTION REPO

[2020-09-25 18:40] #7 closed

[2020-09-25 18:56] CodesOfAnurag commented on #63
Hey @akshitagupta15june check out **pr #66** for this issue

[2020-09-25 19:06] gokulrajanpillai commented on #62
I would love to take this over. Can you add me as contributor?

[2020-09-25 19:17] keshav304 commented on #62
Hey @akshitagupta15june I would love to be assigned this issue.

[2020-09-25 21:12] Akshi149 commented on #62
I would like to work on this issue

[2020-09-26 04:13] #63 closed

[2020-09-26 04:37] akshitagupta15june opened #71 "LONGEST INCREASING SUBSEQUENCE"
Find the length of the longest subsequence in a given array A of integers such that all elements of the subsequence are sorted in strictly ascending order.
Input Format

The first line contains a single integer n.
Next line contains n space separated numbers denoting the elements of the array.
Constraints

0 < n< 105
0 < Ai < 105
Output Format

Print a single line containing a single integer denot

[2020-09-26 04:41] aswarth123 commented on #71
I would like to solve it can you assign it to me

[2020-09-26 04:45] akshitagupta15june commented on #71
ASSIGNING IT TO U

[2020-09-26 04:48] akshitagupta15june opened #72 "INTERVIEW QUESTIONS ISSUES!"
THE PEOPLE WHO HAVE FACED ANY INTERVIEWS AND THEY KNOW THE QUESTIONS WHICH WERE ASKED AND IF THEY ARE COMFORTABLE IN SHARING THEN THEY CAN RAISE THE ISSUE WITH THE QUESTIONS AND SOME DESCRIPTIONS TOO , SO THAT OTHER CAN SOLVE THEM AND LEARN.

ALL THE CODES WILL BE ADDED IN INTERVIEW QUESTION FOLDER!

HAPPY CODING TO EVERYONE!!!

[2020-09-26 04:54] akshitagupta15june opened #73 "CREATE A HOLLOW RHOMBUS PATTERN"
Take N (number of rows), print the following pattern (for N = 5).

     * * * * *
     * *   * *
     *       *
     * *   * *
     * * * * *

Input Format

Constraints

0 < N < 10 (where N is an odd number)

[2020-09-26 04:54] akshitagupta15june commented on #73
ADD IN PATTERNS FOLDER

[2020-09-26 05:01] akshitagupta15june opened #74 "TRIANGLE PATTERN"
Take N (number of rows), print the following pattern (for N = 4).

                       1
                     2 3 2
                   3 4 5 4 3
                 4 5 6 7 6 5 4

Input Format

Constraints

0 < N < 10

[2020-09-26 05:01] akshitagupta15june commented on #74
ADD IN PATTERNS FOLDER

[2020-09-26 05:02] PoojaPatel21 commented on #65
hey, @akshitagupta15june can you assign this to me?

[2020-09-26 05:05] akshitagupta15june commented on #65
YES I AM ASSIGNING IT TO U

[2020-09-26 05:05] akshitagupta15june commented on #65
YES I AM ASSIGNING IT TO U
ADD IN ALGORITHMS FOLDER

[2020-09-26 07:09] ion05 opened #76 "Make a geometric calculator"
Make a calculator for geometric figures like cube cuboid

[2020-09-26 07:40] shiv-ani-singh commented on #63
can you assign this to me?

[2020-09-26 07:41] j-tesla commented on #74
@akshitagupta15june Please assign me.

[2020-09-26 07:42] shiv-ani-singh commented on #60
Can you assign this to me?

[2020-09-26 08:02] hritik5102 commented on #74
@akshitagupta15june I would like to work on this issue .

[2020-09-26 09:28] akshitagupta15june commented on #74
assigned to u

[2020-09-26 09:55] YuvrajSHAD commented on #76
I have Made a Calculator You May Check It. here is link
https://github.com/akshitagit/Python

[2020-09-26 11:19] rexdivakar commented on #72
Does this even add to Hacktoberfest ?

[2020-09-26 11:23] rexdivakar commented on #47
Can i work on this ? will raise PR after Oct 1st, so can u assign this one on me?

[2020-09-26 11:57] ion05 commented on #76
@akshitagupta15june can you assign me this issue ?

[2020-09-26 12:07] akshitagupta15june opened #83 "Print the Fibonacci series for n=20"
Add in maths folder

[2020-09-26 12:18] hritik5102 commented on #74
@akshitagupta15june Check out the PR #84

Thank you :)

[2020-09-26 14:24] Abhicoder03 commented on #83
Hey, I will work on this.

[2020-09-26 14:28] akshitagupta15june commented on #83
Ok

[2020-09-26 14:32] YuvrajSHAD commented on #76
Ok

On Sep 26, 2020 at 17:27, aayan05 <notifications@github.com> wrote:

@akshitagupta15june <https://github.com/akshitagupta15june> can you assign
me this issue ?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/akshitagit/Python/issues/76#issuecomment-699485738>, or
unsubscribe
<https://github.com/notifications/unsubscribe-auth/

[2020-09-26 14:36] Abhicoder03 commented on #83
Is it for n == 20 or upto 20?

[2020-09-26 17:08] akshitagupta15june commented on #76
so has anyone raise pr regarding this issue?

[2020-09-26 17:27] #83 closed

[2020-09-26 17:27] #74 closed

[2020-09-26 17:28] akshitagupta15june commented on #62
ok assigning it to u

[2020-09-26 17:44] akshitagupta15june opened #89 "MATRIX SEARCH"
STAR THIS REPO!

Given an n x m matrix, where every row and column is sorted in increasing order, and a number x . Find if element x is present in the matrix or not.

Input Format

First line consists of two space separated integers N and M, denoting the number of element in a row and column respectively. Second line of each test case consists of N*M space separated integers denoting the elements

[2020-09-26 17:44] akshitagupta15june commented on #89
ADD IN SEARCHING SORTING REO

[2020-09-26 21:55] sagarr70 commented on #89
can you assign this to me as a part of hacktoberfest 2020

[2020-09-27 01:50] YuvrajSHAD commented on #76
Yes pr/77 has raised  this Issue

On Sep 26, 2020 at 22:39, AKSHITA GUPTA <notifications@github.com> wrote:

so has anyone raise pr regarding this issue?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/akshitagit/Python/issues/76#issuecomment-699521985>, or
unsubscribe
<https://github.com/notifications/unsubscribe-auth/ARB3QCCVVV

[2020-09-27 03:33] #60 closed

[2020-09-27 04:39] akshitagupta15june opened #93 "HACKTOBERFEST 2020 (open source celebration)"
We all know Hacktoberfest will be starting from 1st October 2020.

    Hacktoberfest is a celebration open to everyone in our global community.
    Pull requests can be made in any GitHub-hosted repositories/projects.
    You can sign up anytime between October 1 and October 31- here https://hacktoberfest.digitalocean.com/

 Four valid pull requests (PRs) between October 1-31 (in any time zone) ar

[2020-09-27 04:44] ion05 commented on #76
I will in October otherwise it won't count. But my program is ready

[2020-09-27 04:48] akshitagupta15june commented on #76
ok ok

[2020-09-27 04:53] YuvrajSHAD commented on #76
Pr/77 created this Issue and I just work on that. I am really new so I
don't know to whom it's going and I am participating in hacktoberfest2020

On Sep 27, 2020 at 10:15, aayan05 <notifications@github.com> wrote:

so has anyone raise pr regarding this issue?

I will in October otherwise it won't count. But my program is ready

—
You are receiving this because you commented.
Reply to this email di

[2020-09-27 04:55] akshitagupta15june commented on #76
No problem if both of you are working on same issue.

[2020-09-27 04:56] akshitagupta15june commented on #76
I have assigned to both of you

[2020-09-27 05:42] ion05 commented on #83
Can i still work on this issue ?

[2020-09-27 06:14] YuvrajSHAD commented on #76
Ok

On Sep 27, 2020 at 10:25, AKSHITA GUPTA <notifications@github.com> wrote:

No problem if both of you are working on same issue.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/akshitagit/Python/issues/76#issuecomment-699585455>, or
unsubscribe
<https://github.com/notifications/unsubscribe-auth/ARB3QCH5ORQ5E4LJWURAVN3SH3AV5ANC

[2020-09-27 06:29] akshitagupta15june commented on #83
no its closed

[2020-09-27 07:12] Vrindagupta6828 commented on #19
@akshitagupta15june I would like to work on this issue. Please assign this issue to me.

[2020-09-27 07:17] Vrindagupta6828 commented on #19
@akshitagupta15june i want to add heap sort as a part of hacktober fest

[2020-09-27 07:20] Vrindagupta6828 commented on #72
@akshitagupta15june i want to add two sum problem please assign me this.

[2020-09-27 07:21] akshitagupta15june commented on #72
ok add them

[2020-09-27 07:21] akshitagupta15june commented on #19
ok add it

[2020-09-27 07:28] Halix267 commented on #19
@akshitagupta15june  I want to add Topological sort

[2020-09-27 07:30] Halix267 commented on #47
@akshitagupta15june  I want to work on this .plzz assign it to me.

[2020-09-27 07:32] Halix267 commented on #72
@akshitagupta15june I want to add dice throw problem please assign it to me.

[2020-09-27 09:02] UjwalKandi opened #94 "Add FizzBuzz to Interview_questions"
I want to add **_FizzBuzz.py_** under **_Interview_questions_**.

Can you please add me as the Contributor to this issue.

[2020-09-27 10:21] shivamkumar0611 commented on #72
I also want to add some questions to this folder.

[2020-09-27 14:52] iamlordutkarsh commented on #73
Can U assign Me This

[2020-09-27 16:01] ankitgoel25 commented on #73
@akshitagupta15june I would like to work on this issue as a part of hacktoberfest 2020. Please assign it to me!

[2020-09-27 16:06] HimadriPathak commented on #35
can i do this plz

[2020-09-27 16:13] cl0ne commented on #35
https://hacktoberfest.digitalocean.com/details#spam

[2020-09-27 16:21] iamlordutkarsh commented on #73
@akshitagupta15june I asked First , I also joined hacktoberfest 2020

[2020-09-27 19:11] #35 closed

[2020-09-27 19:13] akshitagupta15june commented on #94
Ok sure

[2020-09-27 19:16] akshitagupta15june commented on #72
Yes please add issues.

[2020-09-27 19:17] akshitagupta15june commented on #19
Ok add it

[2020-09-27 19:26] akshitagupta15june opened #95 "Reverse a String and print."
Star this repo
Add in string folder.
Beginner friendly issue.

[2020-09-27 19:49] adenashameem commented on #95
Can you assign this to me?

[2020-09-27 19:52] iriyagupta commented on #95
@akshitagupta15june Hi ! I have created a pull request for this.

[2020-09-27 20:58] ankitgoel25 commented on #95
@akshitagupta15june Please assign this issue to me! I will be solving this issue as a part of Hacktober Fest 2020.

[2020-09-28 03:40] ion05 commented on #43
Can you assign me this issue ? I would like to work on it during HacktoberFest 2020

[2020-09-28 03:43] ion05 commented on #95
@akshitagupta15june I would like to work on this issue as well

[2020-09-28 04:13] #95 closed

[2020-09-28 04:14] akshitagupta15june commented on #89
ok

[2020-09-28 04:17] #43 closed

[2020-09-28 04:33] akshitagupta15june opened #98 "Maximum Circular subarray sum"

[2020-09-28 04:49] akshitagupta15june opened #99 "Star This Repo ⭐⭐⭐"
Star This Repo ⭐⭐⭐
Please make sure to star this repository before contributing.
YOUR CONTRIBUTIONS TOWARDS OPEN SOURCE DSA ARE VALUABLE⭐
HAPPY CODING!!

[2020-09-28 05:01] akshitagupta15june opened #100 "Rotate an array to the right by 3 position."
add in array folder.
Rotate an array to the right by 3 position.
n<=10

[2020-09-28 05:02] akshitagupta15june opened #101 "Rotate an array to the left by 3 position."
add in array folder.
Rotate an array to the left by 3 position.
n<=10

[2020-09-28 05:55] eaglewarrior commented on #100
hi please can you assign me this issue @akshitagupta15june

[2020-09-28 05:57] akshitagupta15june commented on #100
Yeah

[2020-09-28 06:33] adenashameem commented on #101
Can I take this up please?

[2020-09-28 06:53] HimadriPathak commented on #47
can i do this plz

[2020-09-28 06:54] HimadriPathak commented on #3
can i do this plz

[2020-09-28 06:56] HimadriPathak commented on #101
can i do this plz

[2020-09-28 06:56] #3 closed

[2020-09-28 07:03] Pranjalmishra30 commented on #100
Hey can you assign this issue to me @akshitagupta15june :)

[2020-09-28 07:06] amitkrishna commented on #101
Can i take this please

[2020-09-28 07:39] amitsaini4556 commented on #98
I would like to work on this issue. Please assign it to me.

[2020-09-28 10:18] adenashameem commented on #101
Pull Request sent. Please review.

[2020-09-28 16:19] KickItLikeShika commented on #93
Can i participate with any language that i want?

[2020-09-28 16:26] akshitagupta15june commented on #93
Every language have there own repo and issues are also same in all repos

[2020-09-28 16:41] KickItLikeShika commented on #47
I really excited to work on this!

[2020-09-28 16:44] KickItLikeShika commented on #93
Okay thank you, i will work on the java repo

[2020-09-28 21:23] sejalshri commented on #3
@akshitagupta15june ,my code is ready for this issue.Should i send the PR ? i have checked, it's code is not there yet in the repository.

[2020-09-29 04:11] akshitagupta15june commented on #3
Ok @sejalshri

[2020-09-29 04:16] keivalya opened #104 "Mr Y and his Transport Problem"
Mr X has a huge transport business, where his company provides trucks to transfer goods. Mr Y has a manufacturing facility where it has N number of loading areas. Mr Y orders N trucks from Mr X for transportation of each of its manufactured products. One day the trucks were misaligned corresponding to their loading areas. Mr Y wants to swap trucks one by one to place them at their true positions i

[2020-09-29 06:35] akshitagupta15june opened #105 "prime factorise a natural number into its prime factors."
add in maths folder

[2020-09-29 06:37] Pratap2018 commented on #105
add me

[2020-09-29 06:48] akshitagupta15june opened #106 "ADD RADIX SORT"
ADD IN SEARCHING_SORTING FOLDER

[2020-09-29 06:57] jiuntian commented on #106
assign me

[2020-09-29 07:12] praveen-01 commented on #95
@akshitagupta15june can you assign this to me ?

[2020-09-29 07:30] ion05 commented on #105
Please assign me too

[2020-09-29 07:31] dipanshug124 commented on #106
I'll like to work on this issue

[2020-09-29 15:05] manan025 commented on #105
Can I work on this issue?

[2020-09-29 15:34] Ayushmaan2001 commented on #105
pls assign this to me i will implement this in cpp  @akshitagupta15june

[2020-09-29 15:38] Ayushmaan2001 commented on #93
if i send PR to this branch/repository will it be accepted in hacktoberfest @akshitagupta15june

[2020-09-29 16:56] savi-1311 commented on #104
Can I implement this code in C++? Which folder will I need to add the file?

[2020-09-29 17:58] JINDAL-JJ commented on #104
I can do this code in Python. Please mention the folder to add this code and assign me over this issue. Thank You!

[2020-09-30 02:55] BassCoder2808 commented on #104
I have solved the above problem in Python. It's time complexity is O(n log(n)).
Here is the SS for the above solved example.
PS C:\Users\vedant jolly\Desktop> python .\hacktober.py
10
1 3 2 4 9 6 7 5 8 10
3
Please mention the folder in which I have to add the file. Thank you!

[2020-09-30 04:04] BassCoder2808 commented on #106
I would like to work on this issue.
I would like to know that how should I display the output after sorting.

[2020-09-30 04:18] saptarshibasu15 commented on #105
assign me too!

[2020-09-30 04:42] BassCoder2808 commented on #105
I have implemented the above code in python.
I have also completed the code and here is the output:
PS C:\Users\vedant jolly\Desktop> python .\hacktober.py
prime factorization for 122 : 2 61
The time complexity of the code I have written is O(log(n))
For this I have used Sieve Algorithm
I would like you to assign this issue to me.

[2020-09-30 04:49] #101 closed

[2020-09-30 04:51] akshitagupta15june commented on #105
Ok @BassCoder2808 can you raise a or for this.

[2020-09-30 05:01] saptarshibasu15 commented on #42
Can I add removing duplicates from an array to the Array's folder?...as I don't see any issues on this
I have implemented it in Time complexity : O(n) and space complexity : O(1)

[2020-09-30 05:20] BassCoder2808 commented on #105
Thanks!

[2020-09-30 05:21] saptarshibasu15 commented on #93
Can I add removing duplicates from an array to the Array's folder?...as I don't see any issues on this
I have implemented it in Time complexity : O(n) and space complexity : O(1)

[2020-09-30 05:23] akshitagupta15june commented on #93
Yes, Ofcourse you can add
RAISE a or i will merge it

[2020-09-30 05:27] BassCoder2808 commented on #105
I will raise a pull request for the same by Today night.

[2020-09-30 05:30] saptarshibasu15 commented on #93
Ok will do it tomorrow as...hacktoberfest counts from tomorrow!

[2020-09-30 05:44] Ayushmaan2001 commented on #93
if i submit a pull request to this respository/any open source repository will it be counted in hacktoberfest?? pls help me as i am new to this

[2020-09-30 05:44] davidvallejo98 commented on #105
assign me too!

[2020-09-30 05:48] saptarshibasu15 commented on #93
yes Ayushmaan it will be counted!

[2020-09-30 06:00] Ayushmaan2001 commented on #93
can i change the code of fibonacci.py in maths folder as it does not take input from user

[2020-09-30 07:53] theja-vanka commented on #106
Hey i would like to work on this issue. Can i fork, add code, commit and do a pull request ?

[2020-09-30 09:06] BassCoder2808 commented on #98
I have solved the above problem by using Kadane's algorithm.
The time complexity of my solution is O(n).
The sample output of my solved programn is
PS C:\Users\vedant jolly\Desktop> python .\circular_array_sum.py
The array is -10 -5 70
Maximum circular sum is 70
I would like to add my code into this repo. Please assign this issue to me.

[2020-09-30 09:57] bdyutish opened #109 "Slightly modified Knapsack problem."
You have to choose some of the N items. Your knapsack has a capacity of W which means that the sum of the weights of items taken must be at most W. Item i has a weight of Wi and a value of Vi. Find the maximum possible sum of the values of items that you can home.
The twist here being that the constraints for W is 1<=W<=1e9. 1<=Vi<=1e3.

Found this to be a very interesting variation of the popular

[2020-09-30 10:00] hacktoberfest-team opened #110 "Pull requests here won’t count toward Hacktoberfest."
Hi there,

Thank you for your interest in Hacktoberfest and in helping others make their first contributions to open source.

While we agree that it's important to help others, this repository does not do this in a way that is in line with [the Hacktoberfest values](https://hacktoberfest.digitalocean.com/details). Please read the part that talks about high-quality contributions to understand why w

[2020-09-30 10:06] akshitagupta15june commented on #110
I respect your decision @hacktoberfest-team

[2020-09-30 14:22] KmrAnish04 commented on #110
@akshitagupta15june  Now can we contribute  to this repo for Hacktoberfest or not?

[2020-09-30 19:56] singhalpranav22 commented on #110
@KmrAnish04
No

[2020-10-01 03:04] Vrindagupta6828 commented on #19
@akshitagupta15june  I have added heap sort in pull request #120  please merge it

[2020-10-01 03:10] Vrindagupta6828 commented on #72
@akshitagupta15june I have added the two sum problem please merge it. It is in #121 pr.

[2020-10-01 05:03] yuvraajnarula commented on #62
I would like to work on this issue. Can you assign me this?

[2020-10-01 05:11] jayadevvasudevan commented on #94
can i add??

[2020-10-01 18:48] eaglewarrior commented on #100
PR raised for #137 this issue please check

[2020-10-02 10:09] hritik5102 commented on #106
Hello @akshitagupta15june , i would like to work on this issue

Following thing, I would like to add in this repo
- [x] **_Radix sort using python with documentation_**

Thank you

[2020-10-06 07:59] GC2002 commented on #15
Hi! I can give you the code. Can you assign it to me?

[2020-10-09 14:33] maxily1 commented on #62
Hey, I'd like to work on this issue.
I will try to make something more understandable and commented than yuvraajnarula.

[2020-10-11 13:17] TheFenrisLycaon opened #151 "I can add some GUI apps and games."

[2020-10-11 13:17] TheFenrisLycaon opened #152 "OpenCV algorithms."

[2020-10-13 01:46] #62 closed

[2020-10-14 11:49] Naxalov commented on #152
I would like to work on this issue.

[2020-10-14 15:52] #152 closed

[2020-10-15 03:41] Naxalov commented on #152
What next could you give me some information? Because I'm new in the open-source project but I'm an expert in OpenCV

[2020-10-15 13:31] er-raoniz commented on #100
@akshitagupta15june Is this still open for contribution?

[2020-10-15 15:57] TheFenrisLycaon commented on #152
@Naxalov email me I have a project !

[2020-10-22 05:22] akshitagupta15june commented on #151
sure please add in GUI folder

[2020-10-23 11:16] akshitagupta15june opened #156 "PULL REQUESTS WILL BE MERGED"
PULL REQUESTS WILL BE MERGED

Thankyou so much everyone for contributing in the repository.
As i am the only one to manage the repo so after some simple checks I will surely merge your pull request.
Happy Coding! and contributing to open source.

These contributions are really valuable.

[2020-10-25 14:46] adrputra commented on #76
Is there anyone already made PR for this issue?

[2020-10-25 19:38] YuvrajSHAD commented on #76
Yes

On Oct 25, 2020 at 20:16, adrputra <notifications@github.com> wrote:

Is there anyone already made PR for this issue?

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub
<https://github.com/akshitagit/Python/issues/76#issuecomment-716159840>, or
unsubscribe
<https://github.com/notifications/unsubscribe-auth/ARB3QCCU2RFMSW4LKCOS7B3SMQ25DANCNFSM4

[2020-11-02 07:22] #76 closed

[2020-11-08 14:37] akshitagupta15june commented on #73
anyone can work in this issue.

[2020-11-08 15:24] iamlordutkarsh commented on #73
Sorry Bro , Busy with Studies

[2020-11-18 16:56] #94 closed

[2020-12-28 16:21] rajnandini-tambavekar commented on #156
issue#156  ,can you plz explain it ?

[2020-12-28 16:23] akshitagupta15june commented on #156
This is just to tell the contributors that all pr will be merged

[2021-08-21 15:27] unnati914 commented on #151
could i work on this?

[2021-08-21 15:28] unnati914 opened #173 "A proper website with all the codes"

[2021-08-21 15:29] unnati914 commented on #173
I can make a website with all the codes and can host it t netlify

[2021-08-21 16:01] akshitagupta15june commented on #151
Yes u can

[2021-08-21 16:25] unnati914 commented on #151
I can add any game right?

[2021-08-21 16:35] akshitagupta15june commented on #151
Yup

[2021-08-22 02:49] unnati914 commented on #151
tysm:)

[2021-08-22 12:05] aryasoni98 commented on #151
Can I also work on this issue? @akshitagupta15june

[2021-08-22 12:08] aryasoni98 commented on #54
could I work on this?

[2021-08-22 12:15] akshitagupta15june commented on #54
yes

[2021-08-22 12:16] #151 closed

[2021-08-22 13:01] akshitagupta15june commented on #151
yes

[2021-08-22 17:38] aryasoni98 opened #175 "Upgrade README File"
- More description
- More attractive

[2021-08-22 17:39] aryasoni98 opened #176 "Create .gitignore, contributing.md, SECURITY.md"

[2021-08-23 19:25] #176 closed

[2021-10-01 09:26] tausiq2003 commented on #89
should I contribute

[2021-10-01 09:38] shubhagupta21april commented on #89
Yes you can

[2021-10-01 13:24] tausiq2003 commented on #89
i will contribute for hacktoberfest 2021. So please accept

[2021-10-05 17:13] tausiq2003 commented on #89
please assign me

[2021-10-22 17:51] hr1shu opened #182 "I can add few cheat sheets!"
Cheat sheets help as a quick guide and provide immediate go-through to concepts and commands. Plz approve this ASAP, it's time hacktoberfest is coming to end soon and I'm late.

thkns @akshitagupta15june

[2022-10-11 19:36] kanikarajpal commented on #65
Can you please assign this to me?

[2022-10-11 19:36] kanikarajpal commented on #47
Can you please assign this to me?

[2022-10-16 09:47] Ajit-007 commented on #47
Hi, I want to work on this. Will you please assign me this issue?

[2022-10-21 22:07] AvinashDwivedi commented on #89
Hello Akshita, hope everything is good.
If this one is still available then please assign it to me, I'll finish this in few hrs.

[2022-10-23 15:20] ABADOMM opened #192 "Assistente virtual teste N=1"
assistente virtual número 1 teste

[2022-10-23 15:22] #192 closed, assigned to nobody

[2022-10-25 14:33] Code-Techy commented on #65
## Greetings , **`@akshitagupta15june`**

**Can you assign this to me? I'm familiar with the CPP Programming . and I would love to do it..**

_-Regards, thanks._